/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #eeeeee;
    font-family: "Open Sans", sans-serif;
}
  
a {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}

@font-face { 
    font-family: 'Dunkin'; 
    src: url('../fonts/Dunkin_Sans.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

.btn-orange {
    color: #FFFFFF;
    background-color: #FF671F;
    border-color: #FF671F;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
    color: #eeeeee;
    background-color: #af3700;
    border-color: #af3700;
}
  
  /* h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  } */

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}
  
.section-bg {
    background-color: #eeeeee;
}
  
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Dunkin';
    color: #FF671F;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    bottom: 1px;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #DA1884;
    bottom: 0;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #FF671F;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: #fff;
}
#topbar .contact-info a {
    line-height: 0;
    color: #444444;
    transition: 0.3s;
}
#topbar .contact-info a:hover {
    color: #1e88e5;
}
#topbar .contact-info i {
    color: #fff;
    line-height: 0;
    margin-right: 5px;
}
#topbar .contact-info .phone-icon {
    margin-left: 15px;
}
#topbar .social-links a {
    color: #fff;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}
#topbar .social-links a:hover {
    color: #1e88e5;
    /* DA1884 */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    /* z-index: 5; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    color: #FF671F;
    background: #000;
    width: 100%;
    height: 115px;
    transition: all 0.5s;
}

.header.header-scrolled {
    background: #000;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header .logo img {
    max-height: 85px;
}
  
.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: inherit;
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
}
  
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
  .mobile-nav-toggle.bi-x {
    color: #fff;
}
  
@media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #000;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #FF671F;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #fff;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background-color: rgba(9, 9, 9, 0.8);
    overflow: hidden;
    position: relative;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#hero .carousel-item::before {
    content: "";
    /*background-color: rgba(45, 103, 60, 0.8);*/
}
#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50px;
    right: 50px;
}
#hero .container {
    text-align: center;
}
#hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}
#hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}
#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
    }
    #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}
#hero .carousel-indicators li.active {
    opacity: 1;
    background: #DA1884;
}
#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #FF671F;
}
#hero .btn-get-started:hover {
    background: #af3700;
}
@media (max-width: 992px) {
#hero {
    height: 100vh;
}
#hero .carousel-container {
    top: 66px;
}
}
@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}
@media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}
@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: #DA1884;
    padding: 80px 0;
}
.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.cta p {
    color: #fff;
}
.cta .cta-btn {
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
}
.cta .cta-btn:hover {
    background: #fff;
    color: #DA1884;
}
@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}
@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
/*--------------------------------------------------------------
# Promo-Main
--------------------------------------------------------------*/
.promo-main .promo-main-card {
    border-radius: 15px !important;
    padding: 2.5rem 1.5rem !important;
}
.promo-main .promo-main-card h2 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Dunkin';
    color: #FF671F;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
    position: relative;
}
.promo-main .promo-main-card .promo-text {
    padding: 1.5rem 0 !important;
}

.carousel {
    height: 100%;
}

/*--------------------------------------------------------------
# Outlets
--------------------------------------------------------------*/
/* .outlet-main .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}
.outlet-main .swiper-slide img:hover {
    opacity: 1;
} */
.outlet-main .outlet-card {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
    padding: 30px 20px;
    background: #fff;
}
.outlet-main .outlet-card img {
    max-width: 100%;
    margin: 0 0 30px 0;
}
.outlet-main .outlet-card h4 {
    font-weight: 700;
    font-family: 'Dunkin';
    color: #FF671F;
    margin-bottom: 2px;
    font-size: 12px;
}
.outlet-main .outlet-card span {
    display: block;
    font-size: 10px;
}
.outlet-main .swiper-pagination {
    margin-top: 30px;
    position: relative;
}
.outlet-main .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #FF671F;
}
.outlet-main .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FF671F;
}
.outlet-main .swiper-wrapper {
    height: inherit!important;
}

/*--------------------------------------------------------------
# Join-Main
--------------------------------------------------------------*/
.join-main {
    background: #DA1884;
    padding: 80px 0;
}
.join-main h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.join-main p {
    color: #fff;
}
.join-main .join-btn {
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
}
.join-main .join-btn:hover {
    background: #fff;
    color: #DA1884;
}
@media (max-width: 1024px) {
    .join-main {
        background-attachment: scroll;
    }
}
@media (min-width: 769px) {
    .join-main .join-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
# Join Us Page
--------------------------------------------------------------*/
.join {
    background: #DA1884;
    padding: 80px 0;
}
.join h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.join p {
    color: #fff;
}
.join .join-btn {
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
}
.join .join-btn:hover {
    background: #fff;
    color: #DA1884;
}
@media (max-width: 1024px) {
    .join {
        background-attachment: scroll;
    }
}
@media (min-width: 769px) {
    .join .join-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
# Join Us Page
--------------------------------------------------------------*/
.wylwwu .card img {
    height: 200px;
    object-fit: cover;
}

/*--------------------------------------------------------------
# Careers Page
--------------------------------------------------------------*/
.careers .job-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.careers .job-card .job-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.careers .apply-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
@media (min-width: 768px) {
    .careers .apply-btn {
        width: auto;
    }
}

/*--------------------------------------------------------------
# Send Email
--------------------------------------------------------------*/
.send-email {
    background: #DA1884;
    padding: 80px 0;
}
.send-email h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.send-email p {
    color: #fff;
}
.send-email .send-btn {
    background-color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    /* border: 2px solid #fff; */
    color: #fff;
    border-radius: 4px;
}
.send-email .send-btn:hover {
    background: #fff;
    color: #000;
}
@media (max-width: 1024px) {
    .send-email {
        background-attachment: scroll;
    }
}
@media (min-width: 769px) {
    .send-email .send-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.contact .contact-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.contact .help-section {
    margin-top: 20px;
}
.contact .btn-submit {
    background-color: #FF671F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}
@media (min-width: 768px) {
    .contact .btn-submit {
        width: auto;
    }
}